<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CAT</key>
	<string></string>
	<key>DOG</key>
	<string></string>
	<key>APPLE</key>
	<string></string>
	<key>TABLE</key>
	<string></string>
	<key>EAGLE</key>
	<string></string>
	<key>PLATE</key>
	<string></string>
	<key>BOAR</key>
	<string></string>
	<key>CROCODILE</key>
	<string></string>
	<key>BEAR</key>
	<string></string>
</dict>
</plist>
